@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
/* 初期化処理 */
* {
  padding: 0;
  margin: 0;
}
@function vw($px) {
  @return ($px / 428) * 100vw;
}
@function vh($px) {
  @return ($px / 926) * 100vh;
}
body,
html {
  background-color: #fff;
  font-size: 16px;
  font-family: "Yusei Magic", sans-serif;
  transition: all 0.25s 0s;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
$text-orange: #df7c3e;
$burger-content-bgc: rgba(255, 255, 255, 0.9);
header {
  .nav {
    position: fixed;
    z-index: 9;
    top: vh(20);
    right: vw(18);
    .burger {
      box-sizing: border-box;
      position: absolute;
      z-index: 10;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border: 2px solid $text-orange;
      border-radius: 50%;
      .line {
        display: block;
        margin: 0 auto;
        width: 22px;
        height: 4px;
        background-color: $text-orange;
        border-radius: 3px;
        transition: all 0.25s;
        &.top {
          margin-top: 8px;
          margin-bottom: 5px;
        }
        &.bottom {
          margin-top: 5px;
        }
      }
      &.active .top {
        margin-top: 18px;
        margin-bottom: -4px;
        transform: rotate(45deg);
      }
      &.active .middle {
        transform: rotate(45deg);
      }
      &.active .bottom {
        margin-top: -5px;
        transform: rotate(135deg);
      }
    }
    .burger-content {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $burger-content-bgc;
      transition: all 0.25s;
      ul {
        display: none;
        li a {
          text-shadow: none;
          font-size: 40px;
          color: $text-orange;
        }
      }
      &.active {
        position: fixed;
        z-index: 7;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        border-radius: 0;
        ul.active {
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: vh(40);
        }
      }
    }
  }
}