@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
/* 初期化処理 */
* {
  padding: 0;
  margin: 0;
}

img,
video {
  width: 100%;
}

header {
  position: relative;
  height: 76.0259179266vh;
  text-align: center;
  background: url("../images/mainvisual_big.jpg") no-repeat;
  background-size: cover;
}
header .logo {
  margin-top: 8.3153347732vh;
  height: 40.8207343413vh;
}
header ul {
  padding-top: 2.1598272138vh;
}
header ul li {
  padding-bottom: 1.0799136069vh;
  color: #fff;
  font-size: 3.2397408207vh;
  text-shadow: #000 0px 0px 5px;
}

main .catch {
  margin-top: 2.1598272138vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4.3196544276vh;
}
main .catch h2 {
  font-size: 11.6822429907vw;
  color: #df7c3e;
  margin-bottom: 2.1598272138vh;
}
main .catch p {
  line-height: 200%;
  padding: 0 5.1401869159vw;
  font-size: 4.6728971963vw;
  color: #df7c3e;
}
main .intro {
  margin: 0 auto;
  max-width: 768px;
  height: 45.3563714903vh;
  position: relative;
  padding: 5.3995680346vh 5.1401869159vw 8.6393088553vh;
}
main .intro .intro_content {
  position: relative;
}
main .intro h2 {
  position: relative;
  font-size: 8.1775700935vw;
  color: #000;
  margin-bottom: 3.2397408207vh;
  text-align: center;
  transition: none;
}
main .intro h2::before {
  content: "2022";
  color: #53a849;
  font-size: 1.5625rem;
  display: block;
  width: 50px;
  height: 20px;
  position: absolute;
  top: -0.75rem;
  left: 50%;
  transform: translateX(-140px) rotate(-20deg);
}
main .intro p {
  position: absolute;
  right: 5.1401869159vw;
  top: 0;
  width: 29.1576673866vh;
  height: 29.1576673866vh;
  overflow: hidden;
}
main .intro ul {
  position: absolute;
  left: 5.1401869159vw;
  top: 0;
  z-index: 2;
  display: flex;
  width: 29.1576673866vh;
  height: 29.1576673866vh;
  background-color: rgba(255, 255, 255, 0.58);
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #df7c3e;
  padding-left: 4.6728971963vw;
  font-size: 5.8411214953vw;
}
main .intro .btn {
  position: absolute;
  width: 222px;
  max-width: 300px;
  height: 47px;
  top: 45.3563714903vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #53a849;
  border-radius: 3px;
  color: #fff;
  font-size: 5.8411214953vw;
  line-height: 47px;
  padding-left: 1rem;
}
main .intro .btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 14px;
  width: 22px;
  height: 22px;
  background: url("../images/btn_after.svg") no-repeat;
  background-size: contain;
}
main .intro .btn a {
  color: #fff;
}
main .concept {
  padding-bottom: 3.2397408207vh;
}
main .concept h2 {
  font-size: 8.1775700935vw;
  color: #000;
  margin-bottom: 3.2397408207vh;
  text-align: center;
}
main .concept video {
  display: block;
  margin: 0 auto;
  max-width: 768px;
  width: 90vw;
}
main .concept .btn {
  margin: 2.1598272138vh auto 0;
  position: relative;
  width: 222px;
  max-width: 300px;
  height: 47px;
  background-color: #53a849;
  border-radius: 3px;
  color: #fff;
  font-size: 5.8411214953vw;
  line-height: 47px;
  padding-left: 1rem;
}
main .concept .btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 14px;
  width: 22px;
  height: 22px;
  background: url("../images/btn_after.svg") no-repeat;
  background-size: contain;
}
main .message {
  padding-top: 5.3995680346vh;
}
main .message h2 {
  font-size: 8.1775700935vw;
  margin-bottom: 3.2397408207vh;
  text-align: center;
}
main .message .msg-item {
  margin: 0 auto;
  display: flex;
  width: 90vw;
  height: 25.7019438445vh;
  max-width: 768px;
  max-height: 484px;
  overflow: hidden;
}
main .message .msg-item:first-of-type {
  margin-bottom: 2.1598272138vh;
}
main .message .msg-item .msg-img {
  width: 50%;
  background: url("../images/fp_img01.jpeg") no-repeat center;
  background-size: cover;
}
main .message .msg-item .msg-text {
  height: 100%;
  background-color: #fff;
  width: 50%;
}
main .message .msg-item .msg-text h3 {
  margin-top: 1.0799136069vh;
  font-size: 4.6728971963vw;
  text-align: center;
}
main .message .msg-item .msg-text p {
  position: relative;
  display: block;
  max-height: 238px;
  font-size: 3.738317757vw;
  margin: 1.0799136069vh 2.3364485981vw;
  line-height: 1.5;
  overflow-y: scroll;
}
main .qs {
  padding: 8.6393088553vh 0 5.3995680346vh;
}
main .qs h2 {
  font-size: 8.1775700935vw;
  text-align: center;
}
main .qs ul {
  font-style: 1.125rem;
  margin-top: 3.2397408207vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .qs ul li a {
  white-space: nowrap;
  text-overflow: unset;
}
main .qs ul li:nth-child(1) {
  border-bottom: 2px solid #eb3223;
}
main .qs ul li:nth-child(1) em {
  color: #eb3223;
}
main .qs ul li:nth-child(2) {
  border-bottom: 2px solid #bb407e;
}
main .qs ul li:nth-child(2) em {
  color: #bb407e;
}
main .qs ul li:nth-child(3) {
  border-bottom: 2px solid #69a555;
}
main .qs ul li:nth-child(3) em {
  color: #69a555;
}
main .qs ul li:nth-child(4) {
  border-bottom: 2px solid #3c91d5;
}
main .qs ul li:nth-child(4) em {
  color: #3c91d5;
}

footer {
  position: relative;
}
footer .totop {
  position: absolute;
  right: 5.1401869159vw;
  bottom: 6.4794816415vh;
}
footer p {
  font-size: 1rem;
  display: block;
  height: 4.7516198704vh;
  line-height: 4.7516198704vh;
  width: 100vw;
  background-color: #53a849;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 450px) {
  main .intro h2,
main .concept h2,
main .message h2,
main .qs h2 {
    font-size: 2.1875rem;
  }
  main .catch h2 {
    font-size: 3.125rem;
  }
  main .catch p {
    font-size: 1.25rem;
  }
  main .intro ul {
    font-size: 1.5625rem;
  }
  main .intro .btn {
    font-size: 1.5625rem;
  }
  main .concept .btn {
    font-size: 1.5625rem;
  }
  main .message .msg-item {
    height: auto;
  }
  main .message .msg-item .msg-text h3 {
    font-size: 1.25rem;
  }
  main .message .msg-item .msg-text p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=index.css.map */