@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@function vw($px) {
  @return ($px / 428) * 100vw;
}
@function vh($px) {
  @return ($px / 926) * 100vh;
}
img {
  width: 100%;
}
$bgc-green: #ecf6e0;
$bgc-yellow: #fbf5d5;
$bgc-blue: #5191cf;
$btn-green: #53a849;
$text-orange: #df7c3e;
$burger-content-bgc: rgba(255, 255, 255, 0.9);
html,
body {
  transition: all 0.5s ease;
  background-color: $bgc-green;
  &.pm {
    background-color: $bgc-yellow;
  }
}
header {
  background-color: inherit;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 50%;
  min-width: 390px;
  h1 {
    position: absolute;
    transform: translateX(-50%);
    z-index: 51;
  }
}
header::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 50;
  background-color: inherit;
}

main {
  max-width: 768px;
  margin: 80px auto 0;
  .content {
    width: 100%;
    .maincontent {
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-bottom: vh(40);
        font-size: vh(40);
      }
      .time1 {
        width: 100%;
        h3 {
          font-size: vh(30);
          text-align: center;
          margin-bottom: vh(22);
        }
        dl {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: vh(80);
          font-size: vh(22);
          dt {
            margin-top: vh(24);
          }
          dd {
            margin-top: vh(18);
          }
        }
      }
      .time2 {
        width: 100%;
        h3 {
          font-size: vh(30);
          text-align: center;
          margin-bottom: vh(22);
        }
        ul {
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: vh(80);
          font-size: vh(22);
          li {
            width: 100%;
            margin-top: vh(24);
            span {
              position: relative;
            }
            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                span::after {
                  content: '';
                  display: block;
                  position: absolute;
                  right: -26px;
                  top: 5px;
                  width: vh(24);
                  height: vh(24);
                  border-radius: 50%;
                  border: 1px solid #ccc;
                }
              }
            }
            &:nth-child(1) span::after {
              background-color: #6888FF;
            }
            &:nth-child(2) span::after {
              background-color: #ffffff;
            }
            &:nth-child(3) span::after {
              background-color: #FF6975;
            }
            &:nth-child(4) span::after {
              background-color: #FEF342;
            }
          }
        }
      }
      .colorteam {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: vh(30);
          text-align: center;
          margin-bottom: vh(22);
        }
        section {
          margin-bottom: vh(40);
          border-radius: 3px;
          padding: vh(10) vh(30);
          width: vw(250);
          max-width: 430px;
          h4 {
            text-align: center;
            font-size: vh(26);
            margin-bottom: vh(20);
          }
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: vh(20);
            gap: vh(10);
          }
          &.blue {
            background-color: #6888FF;
          }
          &.white {
            background-color: #ffffff;
          }
          &.red {
            background-color: #FF6975;
          }
          &.yellow {
            background-color: #FEF342;
          }
        }
      }
      .tonext {
        position: relative;
        font-size: vh(28);
        margin-bottom: vh(50);
        a {
          color: #000;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          right: -24px;
          top: 5px;
          width: 22px;
          height: 22px;
          background: url("../../images/btn_after.svg") no-repeat;
          background-size: contain;
        }
      }
    }
    .toam, .topm{
      width: 15%;
    }
  }
  .content1 {
    display: none;
    .maincontent {
      left: 0;
    }
    &.active {
      display: flex;
    }
  }
  .content2 {
    display: none;
    .maincontent {
      right: 0;
    }
    &.active {
      display: flex;
    }
  }
  .changeTime {
    position: fixed;
    display: block;
    height: 100vh;
    width: 15vw;
    right: 0;
    top: 80px;
    &.active {
      left: 0;
    }
    p {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 2;
      text-align: center;
      background-color: $bgc-yellow;
      &::after {
        content: '';
        display: block;
        margin-top: vh(30);
        width: 100%;
        height: 30px;
        background: url('../../images/touch.svg') no-repeat;
        background-size: contain;
        background-position: center;
      }
      &.pm {
        background-color: $bgc-green;
      }
    }
  }
}
@media only screen and (min-width: 450px) {
  main {
    .content {
      .maincontent {
        h2 {
          font-size: 2.5rem;
        }
        .time1, .time2 {
          h3 {
            font-size: 1.875rem;
          }
        }
        .colorteam {
          h3 {
            font-size: 1.875rem;
          }
          section{
            h4 {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
