@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@function vw($px) {
  @return ($px / 428) * 100vw;
}
@function vh($px) {
  @return ($px / 926) * 100vh;
}
img {
  width: 100%;
}
$bgc-green: #ecf6e0;
$bgc-yellow: #fbf5d5;
$bgc-blue: #5191cf;
$btn-green: #53a849;
$text-orange: #df7c3e;
$burger-content-bgc: rgba(255, 255, 255, 0.9);
html,
body {
  background-color: $bgc-yellow;
}
header {
  background-color: inherit;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 50%;
  min-width: 390px;
  h1 {
    position: absolute;
    transform: translateX(-50%);
    z-index: 51;
  }
}
header::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 50;
  background-color: inherit;
}
main {
  display: block;
  background-color: skyblue;
  height: 500px;
  width: 100vw;
}